version: "3.8"

services:
  app:
    build: ./
    restart: always
    ports:
      - 5000:5000
    environment:
      - NODE_ENV=production
      - PORT=5000
    command: yarn start
  db:
    image: postgres
    restart: always
    ports:
      - 5432:5432
    volumes:
      - ./server/data/db:/var/lib/postgresql/data/
    environment:
      POSTGRES_USER: amble
      POSTGRES_DB: amble
      POSTGRES_PASSWORD: amble
  redis:
    image: redis
    restart: always
    ports:
      - 6379:6379
    volumes:
      - ./server/data/redis:/data
